body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 2;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
    
}
.main {
    background-color: rgb(255, 254, 254);
    border-radius: 15px;
    box-shadow: 0 0 20px;
    padding: 20px;
    transform: none;
    width: 500px;
    text-align: center;
}
h1 {
    color: rgb(61, 226, 19);
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #555;
    font-weight: bold;
}
input#first {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 20px;
}
input#password{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 20px

}
button {
    padding: 15px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: blue;
    color: white;
    cursor: pointer;
    background-color: #f34;
    width: 100%;
    font-size: 16px;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
